
<div class="wrapper">
	{{> sidebar}}
	<div class="main-panel">
	    <nav class="navbar navbar-default">
	        <div class="container-fluid">
	            <div class="navbar-header">
	                <button type="button" class="navbar-toggle">
	                    <span class="sr-only">Toggle navigation</span>
	                    <span class="icon-bar bar1"></span>
	                    <span class="icon-bar bar2"></span>
	                    <span class="icon-bar bar3"></span>
	                </button>
	                <a class="navbar-brand" href="#">Table List</a>
	            </div>
	            <div class="collapse navbar-collapse">
	                <ul class="nav navbar-nav navbar-right">
	                    <li>
	                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
	                            <i class="ti-panel"></i>
	                            <p>Stats</p>
	                        </a>
	                    </li>
	                    <li class="dropdown">
	                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
	                                <i class="ti-bell"></i>
	                                <p class="notification">5</p>
	                                <p>Notifications</p>
	                                <b class="caret"></b>
	                          </a>
	                          <ul class="dropdown-menu">
	                            <li><a href="#">Notification 1</a></li>
	                            <li><a href="#">Notification 2</a></li>
	                            <li><a href="#">Notification 3</a></li>
	                            <li><a href="#">Notification 4</a></li>
	                            <li><a href="#">Another notification</a></li>
	                          </ul>
	                    </li>
	                    <li>
	                        <a href="#">
	                            <i class="ti-settings"></i>
	                            <p>Settings</p>
	                        </a>
	                    </li>
	                </ul>

	            </div>
	        </div>
	    </nav>


	    <div class="content">
	        <div class="container-fluid">
	            <div class="row">
	                <div class="col-md-12">
	                    <div class="card">
	                        <div class="header">
	                            <h4 class="title">Farmhouse Data</h4>
	                            <p class="category">Just some raw data values</p>
	                            <a href="data?s={{add start 199}}">next</a>
	                        </div>
	                        <div class="content table-responsive table-full-width">
	                            <table class="table table-striped">
	                                <thead>
	                                    <th></th>
	                                    <th>Date</th>
	                                    <th>Tank Temp (top)</th>
	                                    <th>Tank Temp (bottom)</th>
	                                    <th>Ambient Temp</th>
	                                    <th>Washer 3 On?</th>
	                                </thead>
	                                <tbody>
	                                    {{#each data}}
	                                      <tr>
	                                        <td>{{add ../start @index}}</td>
	                                        <td>{{this.date}}</td>
	                                        <td>{{this.tank_top_temp}}</td>
	                                        <td>{{this.tank_bottom_temp}}</td>
	                                        <td>{{this.ambient_temp}}</td>
	                                        <td>{{this.washer3_on}}</td>
	                                      </tr>
	                                    {{/each}}
	                                </tbody>
	                            </table>

	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	    <a href="data?s={{add start 199}}">next</a>

	    <footer class="footer">
	        <div class="container-fluid">
	            <nav class="pull-left">
	                <ul>

	                    <li>
	                        <a href="http://www.creative-tim.com">
	                            Creative Tim
	                        </a>
	                    </li>
	                    <li>
	                        <a href="http://blog.creative-tim.com">
	                           Blog
	                        </a>
	                    </li>
	                    <li>
	                        <a href="http://www.creative-tim.com/license">
	                            Licenses
	                        </a>
	                    </li>
	                </ul>
	            </nav>
	            <div class="copyright pull-right">
	                &copy; <script>document.write(new Date().getFullYear())</script>, made with <i class="fa fa-heart heart"></i> by <a href="http://www.creative-tim.com">Creative Tim</a>
	            </div>
	        </div>
	    </footer>
	</div>
</div>
